[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
beautifulsoup4 = "*"
guess-language-spirit = "*"
jsonschema = "*"
langdetect = "*"
langid = "*"
pyenchant = "*"
pyshacl = "*"
requests = "*"
textblob = "*"
validators = "*"
wxPython = "*"

[dev-packages]
autopep8 = "*"
chardet = "*"
markdown-include = "*"
mkdocs = "*"
mkdocs-material = "*"
mkdocs-material-extensions = "*"
mkdocstrings = "*"
mypy = "*"
pipenv-setup = "*"
pymdown-extensions = "*"
pytest = "*"
setuptools = "*"
tqdm = "*"
twine = "*"
types-requests = "*"
wheel = "*"
vistir = "==0.6.1"

[requires]
python_version = "3.10"

[scripts]
convert = "python dspMetadataGUI/util/converter.py"
docs = "make doc"
rdf = "python dspMetadataGUI/util/rdfConverter.py"
run = "python dspMetadataGUI/collectMetadata.py"
test = "python -m unittest"
