[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pysimplegui = "*"
tinydb = "*"

[dev-packages]
autopep8 = "*"
markdown-include = "*"
mkdocs = "*"
mkdocs-include-markdown-plugin = "*"
mkdocs-material = "*"
mkdocs-material-extensions = "*"
mkdocstrings = "*"
mypy = "*"
pymdown-extensions = "*"
setuptools = "*"
twine = "*"
wheel = "*"

[requires]
python_version = "3.11"

[scripts]
docs = "make doc"
run = "python src/main.py"
